

  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    
    font-family: 'Anton', sans-serif;
  }

header{
    background-color: rgb(49, 48, 48);
    text-align: center;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    height: 60px;
    position: sticky;
  }

header img{
    display: inline-block;
    color: white;
    border-radius: 0px;
   
  } 
  

  /*MENU DESPLEGABLE*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(49, 48, 48);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Anton', sans-serif;
  }

.sidebar a:hover {
    color: #f1f1f1;
  }

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.openbtn {
    font-size: 40px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    left: 0 ;
    margin-top: -30px;
  }

.openbtn:hover {
  background-color: darkorange;
}

#main {
  transition: margin-left .5s;
  padding: 0px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

  /*ENCABEZADO CON TITULO*/

.encabezado-img{
    background-image:url(Imagenes/growleer.png);
    background-size: cover;
    height: 1000px;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white ;
}

.encabezado-img p{
    font-size:  80px; ;
}

.encabezado-img h1{
    font-size: 150px;
    padding: 5px;
    font-family: 'Anton', sans-serif;
 }

.palabrascajas {
  color: white;
  background-color: #333;
  height: 50px;
  font-size: 26px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px;
  text-decoration: none;
  font-family: 'Anton', sans-serif;
  width: 100%;
  display: flex;
}


.botoncerveza a{ 
  color: white;
  text-decoration: none;
  
}

.botoncerveza :hover{
  background-color: #6dbe94;
  border-radius: 2px;
  padding: 5px;
}

.botoncomida a { 
  color: white;
  text-decoration: none;
}

.botoncomida :hover{
  background-color: #6dbe94;
  border-radius: 2px;
  padding: 5px;
}

.botonreserva a{ 
  color: white;
  text-decoration: none;
}

.botonreserva :hover{
  background-color: #6dbe94;
  border-radius: 2px;
  padding: 5px;
}

.cajacontenedora {
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #7b240f;
    height: 590px;
}


.tipocerveza { 
  justify-content: center;
  flex: 30%;
  padding: 20px;

  
}

.tipocerveza :hover {
  background-color: #6dbe94;
  padding: 8px;
}
 

.menu {
  flex: 30%;
  padding: 20px;

}

.menu :hover{
  background-color: #6dbe94;
  padding: 8px;
}

.reservas {
   flex: 30%;
   padding: 20px;


}


.reservas :hover{
  background-color: #6dbe94;
  padding: 8px;
}

img {
  width: 100%;
  height: 550px;
}
.cajacontenedora2 {

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #7b240f;
    height: 600px;
}

.cajacontenedora2 p{
  font-size: 25px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: #f1f1f1;
  margin-left: 20%;
  
}


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.fade {
  animation-name: fade;
  animation-duration: 1.0s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.cajacontenedora3 {
  background-color: #D86712;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    height: 300px;
  }
  
  .cajacontenedora3 h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Anton', sans-serif;
  }

  .cajacontenedora3 p{
    font-size: 20px;
    color: #333;
    font-family: 'Anton', sans-serif;
  }

  .cajacontenedora3 p{
    font-size: 15px;
    color:#333;
    font-family: 'Anton', sans-serif;
  }
  
  .cajacontenedora3 a {
    display: block;
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: 'Anton', sans-serif;


  }
  
  .cajacontenedora3 a:hover {
    color: #555;
    background-color: #333;
    padding: 0px;
  }


.redes{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #D86712;
  justify-content: space-around;
  align-items: center;

 
}
.redes img{
  
    flex-direction: row;
    flex-wrap: wrap;
    width: 40px;
    height: 50px;

    display: flex;

  
  }
 



/*REGISTRATE*/


 /* Estilos para el formulario */
 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #6dbe94;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.9;
}
/* Estilos para el contenedor */
.container {
  width: 50%;
  margin: auto;
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}
 
/* Estilos para el contenedor 2 */
.container2 {
  width: 50%;
  margin: auto;
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}


/* Estilos para el formulario 2 */
 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type=text], input[type=password], input[type=repeatpassword], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #6dbe94;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.9;  

  }

  .encabezado-registrate h2{
    font-size: 70px;
    padding: 10px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    background-color: #333;
    
   
  }

  .encabezado-registrate { 
    background-image:url(Imagenes/senor\ cerveza.png);
    background-size: cover;
    height: 900px;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255) ;
    
  }

/*CERVEZAS*/


 .CERVEZAS H1{
  font-size: 100px;
  padding: 10px;
  font-family: 'Anton', sans-serif;
  text-align: left;
  background-color: #7b240f;
  }
.CERVEZAS {
    background-image:url(Imagenes/cerveza\ logo\ A.jpg);
    background-size: cover;
    height: 900px;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255) ;
    
  }


  .cajadecervezas { 
      background-color: #7b240f;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 1000px;
      text-align: center;
      font-family: 'Anton', sans-serif;
      color: #f1f1f1;
      padding: 5px;
      
    }

   

  .add-to-cart {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50px;
  }
  

  .cervezahoney img{
    flex: 30%;
   width: 400px;
    height: 400px;
    padding: 20px;
  }

 

 

  .cervezaapa img{
    flex: 30%;
    width: 400px;
    height: 400px;
    padding: 20px;

  }

  

  .cervezarubia img{
    flex: 30%;
    width: 400px;
    height: 400px;
    padding: 20px;

  }

  


  .cervezaroja img{
    flex: 30%;
    width: 400px;
    height: 370px;
    padding: 20px;

  }



  .cervezanegra img{
    flex: 30%;
    width: 400px;
    height: 370px;
    padding: 20px;

  }



  .cervezagold img{
    flex: 30%;
    width: 400px;
    height: 370px;
    padding: 20px;

  }


/*CARTA*/


.carta H1{
  font-size: 100px;
  padding: 20px;
  font-family: 'Anton', sans-serif;
  text-align: center;
  background-color: #7b240f;
  color: #f1f1f1;
  }


  .carta {
    background-image:url(Imagenes/Captura\ de\ pantalla\ \(109\).png);
    background-size: cover;
    height: 700px;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255) ;
    
  }

  

  .comida {
      background-color: #7b240f;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 900px;
      text-align: center;
      font-family: 'Anton', sans-serif;
      color: #f1f1f1;
      padding: 5px;
  }
  .add-to-cart {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50px;
  }
  
 

 
  .pizza img{
    flex: 30%;
   width: 350px;
    height: 350px;
    padding: 20px;
    }

  .pizza img:hover{
    background-color: #6dbe94;
    padding: 3px;
  }


  .papascheddar img{
    flex: 30%;
    width: 350px;
    height: 350px;
    padding: 20px;
  }

  .papascheddar img:hover{
    background-color: #6dbe94;
    padding: 3px;
  }


  .hamburguesas img{
    flex: 30%;
    width: 350px;
    height: 350px;
    padding: 20px;
  }

  .hamburguesas img:hover{
    background-color: #6dbe94;
    padding: 3px;
  }


  .bastones img{    
    flex: 30%;
    width: 350px;
    height: 350px;
    padding: 20px;

  }

  .bastones img:hover{
    background-color: #6dbe94;
    padding: 3px;
  }


  .empanadas img{
    flex: 30%;
    width: 350px;
    height: 350px;
     padding: 20px;
  }

  .empanadas img:hover{
    background-color: #6dbe94;
    padding: 3px;
  }


  .postres img{
    flex: 30%;
    width: 350px;
    height: 350px;
    padding: 20px;
  
  }

  .postres img:hover{
    background-color: #6dbe94;
    padding: 3px;
  }


  .ensalada img{
    flex: 30%;
    width: 350px;
    height: 350px;
    padding: 20px;
  }

  .ensalada img:hover{
    background-color: #6dbe94;
    padding: 3px;
  }

  
  .torta img{ 
    flex: 30%;
    width: 350px;
    height: 350px;
    padding: 20px;
  }

  .torta img:hover{
    background-color: #6dbe94;
    padding: 3px;
  }


 


  
  /*RESERVA*/

  .fondo h1{
    color: #f1f1f1;
    width: 450px;
    background-color: #555;
    padding: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 95px;
    text-align: center;

  }
  .fondo {
    background-image:url(Imagenes/paradatractor5.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white ;

  }
  

  .contenedorcontacto h2{
    color: #f1f1f1;
    font-family: 'Anton', sans-serif;

  }
  .contenedorreserva h2{
    color: #f1f1f1;
    padding: 8px;
    font-family: 'Anton', sans-serif;

  }

  .contacto-reserva {
    background-color: #892f18;
    height: 500px;
  }

  /* Estilos para el formulario */
  #fecha {
    width: 300px;
    height: 30px;
  }

  #tiempo {
    width: 300px;
    height: 30px;
  }

  #numero{
    width: 300px;
    height: 30px;
  }

  #personas{
    width: 300px;
    height: 30px;
  }

  
 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #6dbe94;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.9;
}
/* Estilos para el contenedor */
.contenedorcontacto {
  width: 50%;
  margin: auto;
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}

.contenedorreserva {
  width: 50%;
  margin: auto;
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}

/* GRACIAS */

.gracias h1{
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 100px;
  color: #6dbe94;
  padding: 100px;
}

.gracias img{
  width: 33%;
  height: 300px;
  justify-content: center;

 
}

.gracias {
  background-color: #555;
  height: 700px;

}


 /* RESPONSIVE CELULAR*/
@media screen and (max-width: 600px) {

    /* INICIO*/

  .encabezado-img {
   
    background-position: center;
    
  }

  .encabezado-img p{
    text-align: center;
  }

.palabrascajas a{
  opacity: 0%;
}
  .cajacontenedora{
    height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

.tipocerveza img{

    width: 100%;
    height: 600px;    
    
}

.menu img{
  
  width: 100%;
  height: 600px;
}

.reservas img{
  
  width: 100%;
  height: 600px;
}

  .cajacontenedora2{
    width: 100%;
    
  }

  .cajacontenedora2 p{
    text-align: center;
    font-size: medium;
    align-items: center;
    justify-content: center;
  }

  .cajacontenedora3{
    background-color: #D86712;
    height: 100%;
  }

  .cajacontenedora3 h1{
    font-size: medium;
  }

  .slideshow-container{
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }

 
  
  .sidebar{
  width: 30%;
  }

  /* CARTA */
.comida{
  background-color: #7b240f;
  height: 100%;
}

.comida img{
  flex-direction: column;
}

.carta{
  background-position: center;
}
  /* REGISTRATE */
.encabezado-registrate{
  background-position: center;
}
.container{
  width: 100%;
}
.container2{
  width: 100%;
}

.sidebar{
  width: 40%;
}

  /* CERVEZAS */

.cervezas{
  width: 30px;
  background-position: center;
  font-size: 30px;

}

.cajadecervezas{
  background-color: #7b240f;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.cervezas H1{
  text-align: center;
  align-items: center;
}

}

 /* RESPONSIVE TABLET*/
 @media screen and (max-width: 900px) {
   /* INICIO*/

   .encabezado-img {
   
    background-position: center;
    
  }

  .encabezado-img p{
    text-align: center;
  }


  .cajacontenedora{
        display: flex;
        flex-wrap: wrap;
      }
      
    

.tipocerveza img{
  display: flex;
    width: 100%;
    height: 300px;
    
  }

.menu img{
  display: flex;
  width: 100%;
  height: 300px;

  }

.reservas img{
  display: flex;
  width: 100%;
  height: 300px;

  }

  .cajacontenedora2{
    width: 100%;
    
  }

  .cajacontenedora2 p{
    text-align: center;
    font-size: medium;
    display: flex;
    width: 100%s;
  }

  .cajacontenedora3{
    background-color: #D86712;
    height: 100%;
  }

  .cajacontenedora3 h1{
    font-size: medium;
  }

  .slideshow-container{
    width: 100%;
    display: flex;

  }
  
  .sidebar{
  width: 30%;
  }



  /* CERVEZAS */

  .cervezas{
    width: 30px;
    background-position: center;
    font-size: 30px;
  
  }
  
  .cajadecervezas{
    background-color: #7b240f;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .cervezas H1{
    text-align: center;
    align-items: center;
  }
  
.cervezahoney img{
  width: 80%;
  height: 300px;
}

.cervezaapa img{
  width: 80%;
  height: 300px;
}

.cervezagold img{
  width: 300px;
  height: 300px;
}

.cervezarubia img{
  width: 80%;
  height: 300px;
}

.cervezaroja img{
  width: 300px;
  height: 300px;
}

.cervezanegra img{
  width: 300px;
  height: 300px;
}


     /* CARTA */

.comida{
  background-color: #7b240f;
  height: 100%;
}

.comida img{
  flex-direction: column;
}

.carta{
  background-position: center;
}


.pizza img{
  width: 80%;
  height: 300px;
}

  .papascheddar img{
    width: 70%;
    height: 300px;

  }

  .hamburguesas img{
    width: 80%;
    height: 300px;

  }

  .bastones img{
    width: 80%;
    height: 300px;

  }

  .empanadas img{
    width: 80%;
    height: 300px;

  }

  .ensalada img{
    width: 80%;
    height: 300px;

  }

  .postres img{
    width: 90%;
    height: 300px;

  }

  .torta img{
    width: 80%;
    height: 300px;

  }
  

}


  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
